.list a {
    color: white;
}

.text {
    text-align: center;
    color: rgb(112, 112, 204);
    padding-top: 12px;
    font-size: 50px;
}

.text1 {
    text-align: center;
    font-size: 25px;

}

.img {
    height: 100%;
    width: 100%;
    border-radius: 40px;
    padding-top: 15px;
    object-fit: cover;
}

.name {
    color: rgb(112, 112, 204);
}